In [1]:
import pandas as pd
import sqlite3

# NYC Neighborhoods (ETL): Extract

In [2]:
# Get NYC neighborhoods from NYS Department of Health
# https://www.health.ny.gov/statistics/cancer/registry/appendix/neighborhoods.htm
df = pd.read_csv('../Data/neighborhoods.csv')
df

,Borough,Neighborhood,ZIP Codes
0,Bronx,Central Bronx,"10453, 10457, 10460"
1,Bronx,Bronx Park and Fordham,"10458, 10467, 10468"
2,Bronx,High Bridge and Morrisania,"10451, 10452, 10456"
3,Bronx,Hunts Point and Mott Haven,"10454, 10455, 10459, 10474"
4,Bronx,Kingsbridge and Riverdale,"10463, 10471"
5,Bronx,Northeast Bronx,"10466, 10469, 10470, 10475"
6,Bronx,Southeast Bronx,"10461, 10462,10464, 10465, 10472, 10473"
7,Brooklyn,Central Brooklyn,"11212, 11213, 11216, 11233, 11238"
8,Brooklyn,Southwest Brooklyn,"11209, 11214, 11228"
9,Brooklyn,Borough Park,"11204, 11218, 11219, 11230"
10,Brooklyn,Canarsie and Flatlands,"11234, 11236, 11239"
11,Brooklyn,Southern Brooklyn,"11223, 11224, 11229, 11235"
12,Brooklyn,Northwest Brooklyn,"11201, 11205, 11215, 11217, 11231"
13,Brooklyn,Flatbush,"11203, 11210, 11225, 11226"
14,Brooklyn,East New York and New Lots,"11207, 11208"
15,Brooklyn,Greenpoint,"11211, 11222"
16,Brooklyn,Sunset Park,"11220, 11232"
17,Brooklyn,Bushwick and Williamsburg,"11206, 11221, 11237"
18,Manhattan,Central Harlem,"10026, 10027, 10030, 10037, 10039"
19,Manhattan,Chelsea and Clinton,"10001, 10011, 10018, 10019, 10020, 10036"
20,Manhattan,East Harlem,"10029, 10035"
21,Manhattan,Gramercy Park and Murray Hill,"10010, 10016, 10017, 10022"
22,Manhattan,Greenwich Village and Soho,"10012, 10013, 10014"
23,Manhattan,Lower Manhattan,"10004, 10005, 10006, 10007, 10038, 10280"
24,Manhattan,Lower East Side,"10002, 10003, 10009"
25,Manhattan,Upper East Side,"10021, 10028, 10044, 10065, 10075, 10128"
26,Manhattan,Upper West Side,"10023, 10024, 10025"
27,Manhattan,Inwood and Washington Heights,"10031, 10032, 10033, 10034, 10040"
28,Queens,Northeast Queens,"11361, 11362, 11363, 11364"
29,Queens,North Queens,"11354, 11355, 11356, 11357, 11358, 11359, 11360"
30,Queens,Central Queens,"11365, 11366, 11367"
31,Queens,Jamaica,"11412, 11423, 11432, 11433, 11434, 11435, 11436"
32,Queens,Northwest Queens,"11101, 11102, 11103, 11104, 11105, 11106"
33,Queens,West Central Queens,"11374, 11375, 11379, 11385"
34,Queens,Rockaways,"11691, 11692, 11693, 11694, 11695, 11697"
35,Queens,Southeast Queens,"11004, 11005, 11411, 11413, 11422, 11426, 1142..."
36,Queens,Southwest Queens,"11414, 11415, 11416, 11417, 11418, 11419, 1142..."
37,Queens,West Queens,"11368, 11369, 11370, 11372, 11373, 11377, 11378"
38,Staten Island,Port Richmond,"10302, 10303, 10310"
39,Staten Island,South Shore,"10306, 10307, 10308, 10309, 10312"
40,Staten Island,Stapleton and St. George,"10301, 10304, 10305"
41,Staten Island,Mid-Island,10314

# NYC Neighborhoods (ETL): Transform

In [3]:
#reorganize dataframe by zip code
nyc_zip_codes = []
nyc_neighborhoods = []
nyc_boroughs = []

# create record for each zip code
for row in range(df.shape[0]):
    codes = df['ZIP Codes'][row].split(',')
    for code in codes:
        nyc_zip_codes.append(int(code))
        nyc_neighborhoods.append(df['Neighborhood'][row])
        nyc_boroughs.append(df['Borough'][row])

# create dataframe indexed by zip code
nyc = pd.DataFrame({'ZIP Code': nyc_zip_codes,
                    'Neighborhood': nyc_neighborhoods,
                    'Borough': nyc_boroughs})

In [4]:
#review cleaned dataset
nyc.head()

   ZIP Code            Neighborhood Borough
0     10453           Central Bronx   Bronx
1     10457           Central Bronx   Bronx
2     10460           Central Bronx   Bronx
3     10458  Bronx Park and Fordham   Bronx
4     10467  Bronx Park and Fordham   Bronx

# NYC Neighborhoods (ETL): Load

In [5]:
#creating SQL connection
conn = sqlite3.connect('../Data/pet_care_industry.db')
c = conn.cursor()

#function to create table
def create_table(query):
    c.execute(query)

#function to close connection
def close_c_conn():
    c.close()
    conn.close()

In [6]:
#create neighborhoods table
create_query = """CREATE TABLE neighborhoods
                (ZipCode INTEGER PRIMARY KEY,
                 Neighborhood TEXT,
                 Borough TEXT);"""

c.execute('DROP TABLE IF EXISTS neighborhoods')
create_table(create_query)

In [7]:
#function to insert neighborhoods into table
def insert_neighborhoods(neighborhoods):
    for i in range(len(neighborhoods.index)):
        c.execute("""INSERT INTO neighborhoods
                  (ZipCode,
                   Neighborhood,
                   Borough)
                   VALUES
                   (?,?,?)""",
                   (int(neighborhoods.iloc[i]['ZIP Code']),
                    neighborhoods.iloc[i]['Neighborhood'],
                    neighborhoods.iloc[i]['Borough']))
        
    conn.commit()
    
#insert neighborhoods into table
insert_neighborhoods(nyc)

In [8]:
#check SQL neighborhoods table
neighborhoods = pd.read_sql_query("SELECT * FROM neighborhoods;", conn)
neighborhoods

     ZipCode                   Neighborhood    Borough
0      10001            Chelsea and Clinton  Manhattan
1      10002                Lower East Side  Manhattan
2      10003                Lower East Side  Manhattan
3      10004                Lower Manhattan  Manhattan
4      10005                Lower Manhattan  Manhattan
5      10006                Lower Manhattan  Manhattan
6      10007                Lower Manhattan  Manhattan
7      10009                Lower East Side  Manhattan
8      10010  Gramercy Park and Murray Hill  Manhattan
9      10011            Chelsea and Clinton  Manhattan
10     10012     Greenwich Village and Soho  Manhattan
11     10013     Greenwich Village and Soho  Manhattan
12     10014     Greenwich Village and Soho  Manhattan
13     10016  Gramercy Park and Murray Hill  Manhattan
14     10017  Gramercy Park and Murray Hill  Manhattan
15     10018            Chelsea and Clinton  Manhattan
16     10019            Chelsea and Clinton  Manhattan
17     10020            Chelsea and Clinton  Manhattan
18     10021                Upper East Side  Manhattan
19     10022  Gramercy Park and Murray Hill  Manhattan
20     10023                Upper West Side  Manhattan
21     10024                Upper West Side  Manhattan
22     10025                Upper West Side  Manhattan
23     10026                 Central Harlem  Manhattan
24     10027                 Central Harlem  Manhattan
25     10028                Upper East Side  Manhattan
26     10029                    East Harlem  Manhattan
27     10030                 Central Harlem  Manhattan
28     10031  Inwood and Washington Heights  Manhattan
29     10032  Inwood and Washington Heights  Manhattan
..       ...                            ...        ...
148    11379            West Central Queens     Queens
149    11385            West Central Queens     Queens
150    11411               Southeast Queens     Queens
151    11412                        Jamaica     Queens
152    11413               Southeast Queens     Queens
153    11414               Southwest Queens     Queens
154    11415               Southwest Queens     Queens
155    11416               Southwest Queens     Queens
156    11417               Southwest Queens     Queens
157    11418               Southwest Queens     Queens
158    11419               Southwest Queens     Queens
159    11420               Southwest Queens     Queens
160    11421               Southwest Queens     Queens
161    11422               Southeast Queens     Queens
162    11423                        Jamaica     Queens
163    11426               Southeast Queens     Queens
164    11427               Southeast Queens     Queens
165    11428               Southeast Queens     Queens
166    11429               Southeast Queens     Queens
167    11432                        Jamaica     Queens
168    11433                        Jamaica     Queens
169    11434                        Jamaica     Queens
170    11435                        Jamaica     Queens
171    11436                        Jamaica     Queens
172    11691                      Rockaways     Queens
173    11692                      Rockaways     Queens
174    11693                      Rockaways     Queens
175    11694                      Rockaways     Queens
176    11695                      Rockaways     Queens
177    11697                      Rockaways     Queens

[178 rows x 3 columns]

In [9]:
#close connection
close_c_conn()