In [90]:
import pandas as pd
import numpy as np
import sqlite3

In [91]:
#creating SQL connection
conn = sqlite3.connect('../Data/pet_care_industry.db')
c = conn.cursor()

#function to close connection
def close_c_conn():
    c.close()
    conn.close()

In [98]:
#initialize dog growth table with unique list of zipcodes
dog_growth = pd.read_sql_query('SELECT DISTINCT Borough FROM dogs', conn)
print(dog_growth.shape)
dog_growth.head()

(79, 1)

     Borough
0     Queens
1   Brooklyn
2     QUEENS
3  Manhattan
4      Bronx

In [99]:
#function to select dogs by zipcodes for a given year
def get_dogs_by_zipcode_in_year(year):
    return pd.read_sql_query("""SELECT Borough, COUNT(Borough) AS CY{}
                                FROM dogs
                                GROUP BY Borough
                                HAVING LicenseIssuedYear <= {};""".format(year, year), conn)

#merge dogs by zipcodes for all active years
for i in range(2014, 2023):
    dog_growth = pd.merge(dog_growth, get_dogs_by_zipcode_in_year(i), on='Borough', how='left')
    
#dog_growth = dog_growth.fillna(0).astype(int)
dog_growth

,Borough,CY2014,CY2015,CY2016,CY2017,CY2018,CY2019,CY2020,CY2021,CY2022
0,Queens,24658.0,24658.0,24658,24658,24658,24658,24658,24658,24658
1,Brooklyn,NaN,30036.0,30036,30036,30036,30036,30036,30036,30036
2,QUEENS,NaN,320.0,320,320,320,320,320,320,320
3,Manhattan,NaN,NaN,42344,42344,42344,42344,42344,42344,42344
4,Bronx,NaN,NaN,12485,12485,12485,12485,12485,12485,12485
5,South Richmond Hil,NaN,NaN,1,1,1,1,1,1,1
6,SO RICHMOND,NaN,NaN,1,1,1,1,1,1,1
7,Richmond Hill,NaN,NaN,2,2,2,2,2,2,2
8,College Point,NaN,1.0,1,1,1,1,1,1,1
9,Quens,NaN,1.0,1,1,1,1,1,1,1
10,Floral Park,NaN,NaN,1,1,1,1,1,1,1
11,New York,NaN,NaN,49,49,49,49,49,49,49
12,Glen Oaks,NaN,NaN,1,1,1,1,1,1,1
13,Bayside,NaN,NaN,1,1,1,1,1,1,1
14,Staten Island,NaN,NaN,10873,10873,10873,10873,10873,10873,10873
15,ASTORIA,NaN,3.0,3,3,3,3,3,3,3
16,Astoria,NaN,2.0,2,2,2,2,2,2,2
17,Glendale,NaN,NaN,1,1,1,1,1,1,1
18,Long Island City,NaN,NaN,1,1,1,1,1,1,1
19,Woodside NY.,NaN,NaN,1,1,1,1,1,1,1
20,queens,NaN,NaN,1,1,1,1,1,1,1
21,WOODSIDE,NaN,NaN,1,1,1,1,1,1,1
22,Woodside,NaN,NaN,2,2,2,2,2,2,2
23,Corona,NaN,2.0,2,2,2,2,2,2,2
24,Elmhurst,NaN,1.0,1,1,1,1,1,1,1
25,East Elmhurst,NaN,NaN,1,1,1,1,1,1,1
26,Elmhurst,NaN,NaN,1,1,1,1,1,1,1
27,Jackson heights,NaN,NaN,3,3,3,3,3,3,3
28,JACKSON HGTS,NaN,NaN,1,1,1,1,1,1,1
29,fresh meadows,NaN,1.0,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...
49,"Staten Island, NY",NaN,NaN,1,1,1,1,1,1,1
50,staten island,NaN,NaN,1,1,1,1,1,1,1
51,MANHATTAN,NaN,221.0,221,221,221,221,221,221,221
52,NEW YORK,NaN,6.0,6,6,6,6,6,6,6
53,NYC,NaN,NaN,2,2,2,2,2,2,2
54,B,NaN,NaN,1,1,1,1,1,1,1
55,new york,NaN,NaN,4,4,4,4,4,4,4
56,Manhattan,NaN,2.0,2,2,2,2,2,2,2
57,New York,NaN,NaN,3,3,3,3,3,3,3
58,New York,NaN,NaN,2,2,2,2,2,2,2
59,New york,NaN,1.0,1,1,1,1,1,1,1
60,BRONX,NaN,104.0,104,104,104,104,104,104,104
61,NEW YORK CITY,NaN,2.0,2,2,2,2,2,2,2
62,Bronx,NaN,NaN,2,2,2,2,2,2,2
63,bronx,NaN,1.0,1,1,1,1,1,1,1
64,The Villages,NaN,1.0,1,1,1,1,1,1,1
65,Jersey City,NaN,2.0,2,2,2,2,2,2,2
66,San Francisco,NaN,1.0,1,1,1,1,1,1,1
67,bronxville,NaN,NaN,1,1,1,1,1,1,1
68,Hoboken,NaN,NaN,1,1,1,1,1,1,1
69,NY,NaN,NaN,1,1,1,1,1,1,1
70,Potomac,NaN,NaN,1,1,1,1,1,1,1
71,"Wappingers Falls, NY",NaN,NaN,1,1,1,1,1,1,1
72,Lynbrook,NaN,NaN,1,1,1,1,1,1,1
73,Middletown,NaN,NaN,1,1,1,1,1,1,1
74,MASPETH,NaN,NaN,1,1,1,1,1,1,1
75,West Palm Beach,NaN,NaN,1,1,1,1,1,1,1
76,kissimmee florida,NaN,NaN,1,1,1,1,1,1,1
77,Santa Monica,NaN,NaN,1,1,1,1,1,1,1
78,Albany,NaN,NaN,1,1,1,1,1,1,1

In [97]:
dog_growth['cagr'] = (dog_growth['CY2016'] / dog_growth['CY2014']) ** (1/2) - 1
dog_growth = dog_growth.sort_values(by=['cagr'], ascending=False)
dog_growth = dog_growth.replace(np.inf, np.nan)
dog_growth = dog_growth.dropna(subset=['cagr'])
dog_growth

,BreedName,CY2014,CY2015,CY2016,CY2017,CY2018,CY2019,CY2020,CY2021,CY2022,cagr
0,Unknown,16763.0,16763.0,16763,16763,16763,16763,16763,16763,16763,0.0
1,Labrador Retriever Crossbreed,2773.0,2773.0,2773,2773,2773,2773,2773,2773,2773,0.0
2,American Pit Bull Terrier/Pit Bull,3341.0,3341.0,3341,3341,3341,3341,3341,3341,3341,0.0
3,Labrador Retriever,4195.0,4195.0,4195,4195,4195,4195,4195,4195,4195,0.0
4,Shih Tzu,7133.0,7133.0,7133,7133,7133,7133,7133,7133,7133,0.0
5,Boxer,1207.0,1207.0,1207,1207,1207,1207,1207,1207,1207,0.0
6,"Schnauzer, Miniature",1139.0,1139.0,1139,1139,1139,1139,1139,1139,1139,0.0
7,Yorkshire Terrier,7747.0,7747.0,7747,7747,7747,7747,7747,7747,7747,0.0
126,"Dachshund, Wirehaired, Miniature",69.0,69.0,69,69,69,69,69,69,69,0.0
127,"Schnauzer, Giant",31.0,31.0,31,31,31,31,31,31,31,0.0
191,Miniature American Shepherd,106.0,106.0,106,106,106,106,106,106,106,0.0
192,Chinese Crested,43.0,43.0,43,43,43,43,43,43,43,0.0
228,Bouvier Des Flandres,18.0,18.0,18,18,18,18,18,18,18,0.0
277,Lancashire Heeler,2.0,2.0,2,2,2,2,2,2,2,0.0

In [ ]:
#total share = total number of dogs

In [ ]:
#close connection
close_c_conn()