In [38]:
from config import client_id, api_key

import pandas as pd
import requests
import json
import time
import sqlite3

# Yelp Pet Stores and Pet Services in NYC (ETL): Extract

In [3]:
#function to parse Yelp Fusion API response for a list of Yelp businesses
def parse_response(response):
    response_json = response.json()
    businesses = []
    
    for business in response_json['businesses']:
        business_json = {}
        categories = []
        
        for category in business['categories']:
            categories.append(category['title'])
        
        business_json['categories'] = categories
        business_json['id'] = business['id']
        business_json['name'] = business['name']
        business_json['is_closed'] = business['is_closed']
        business_json['review_count'] = business['review_count']
        business_json['rating'] = business['rating']
        business_json['zip_code'] = business['location']['zip_code']
        
        businesses.append(business_json)
        
    return businesses
    
#function to call Yelp Fusion API with given search term, location and max search results
def call_yelp(term, location, search_max):
    search_results = []
    search_limit = 50
    search_calls = int(search_max / search_limit)
    
    for i in range(search_calls):
        search_offset = i * search_limit
        url = 'https://api.yelp.com/v3/businesses/search'
        headers = {'Authorization': 'Bearer {}'.format(api_key),}
        url_params = {'term': term.replace(' ', '+'),
                      'location': location.replace(' ', '+'),
                      'limit': search_limit,
                      'offset': search_offset
                     }
        
        response = requests.get(url, headers=headers, params=url_params)
        print('term: {}, offset: {}, response: {}'.format(term, search_offset, response))
        
        search_results.extend(parse_response(response))
        time.sleep(2)
        
    return search_results

In [4]:
#pull and save 1,000 (max) pet stores in NYC
pet_stores = 'Pet Stores'
location = 'New York, NY'
search_max = 1000

yelp_pet_stores = call_yelp(pet_stores, location, search_max)

term: Pet Stores, offset: 0, response: <Response [200]>
term: Pet Stores, offset: 50, response: <Response [200]>
term: Pet Stores, offset: 100, response: <Response [200]>
term: Pet Stores, offset: 150, response: <Response [200]>
term: Pet Stores, offset: 200, response: <Response [200]>
term: Pet Stores, offset: 250, response: <Response [200]>
term: Pet Stores, offset: 300, response: <Response [200]>
term: Pet Stores, offset: 350, response: <Response [200]>
term: Pet Stores, offset: 400, response: <Response [200]>
term: Pet Stores, offset: 450, response: <Response [200]>
term: Pet Stores, offset: 500, response: <Response [200]>
term: Pet Stores, offset: 550, response: <Response [200]>
term: Pet Stores, offset: 600, response: <Response [200]>
term: Pet Stores, offset: 650, response: <Response [200]>
term: Pet Stores, offset: 700, response: <Response [200]>
term: Pet Stores, offset: 750, response: <Response [200]>
term: Pet Stores, offset: 800, response: <Response [200]>
term: Pet Stores, offset: 850, response: <Response [200]>
term: Pet Stores, offset: 900, response: <Response [200]>
term: Pet Stores, offset: 950, response: <Response [200]>

In [17]:
#pull and save 1,000 (max) pet services in NYC
pet_services = 'Pet Services'
location = 'New York, NY'
search_max = 1000

yelp_pet_services = call_yelp(pet_services, location, search_max)

term: Pet Services, offset: 0, response: <Response [200]>
term: Pet Services, offset: 50, response: <Response [200]>
term: Pet Services, offset: 100, response: <Response [200]>
term: Pet Services, offset: 150, response: <Response [200]>
term: Pet Services, offset: 200, response: <Response [200]>
term: Pet Services, offset: 250, response: <Response [200]>
term: Pet Services, offset: 300, response: <Response [200]>
term: Pet Services, offset: 350, response: <Response [200]>
term: Pet Services, offset: 400, response: <Response [200]>
term: Pet Services, offset: 450, response: <Response [200]>
term: Pet Services, offset: 500, response: <Response [200]>
term: Pet Services, offset: 550, response: <Response [200]>
term: Pet Services, offset: 600, response: <Response [200]>
term: Pet Services, offset: 650, response: <Response [200]>
term: Pet Services, offset: 700, response: <Response [200]>
term: Pet Services, offset: 750, response: <Response [200]>
term: Pet Services, offset: 800, response: <Response [200]>
term: Pet Services, offset: 850, response: <Response [200]>
term: Pet Services, offset: 900, response: <Response [200]>
term: Pet Services, offset: 950, response: <Response [200]>

# Yelp Pet Stores and Pet Services in NYC (ETL): Transform

In [34]:
# create dataframe of pet stores
pet_stores = pd.DataFrame.from_dict(yelp_pet_stores)
pet_stores.head()

,categories,id,is_closed,name,rating,review_count,zip_code
0,[Pet Stores],gxMLTap163ma5RJNK0EiNg,False,Hoboken Pet,4.5,30,07030
1,[Pet Stores],eTqmm-qOh4nStAcR6Ezn7A,False,Zee.Dog - SoHo,4.5,14,10013
2,"[Pet Stores, Pet Groomers]",tYZEFqmbGEA0cN6SGz7Swg,False,Petropolis,4.5,76,10006
3,[Pet Stores],YtJXZdh3lnuH2JuDtXBqqQ,False,NYC Pet,2.5,15,11211
4,[Pet Stores],IMw1Jr7T96is-7lccQUT3w,False,Petopia,4.0,52,10009

In [64]:
# create dataframe of pet services
pet_services = pd.DataFrame.from_dict(yelp_pet_services)
pet_services.head()

,categories,id,is_closed,name,rating,review_count,zip_code
0,"[Dog Walkers, Pet Sitting]",81v--_Id0CEOEPNe8AwhmA,False,Happy Pants,5.0,33,10014
1,"[Dog Walkers, Pet Sitting]",2I0mcwFT6FZswHhb6ldaHw,False,Pet Sitting Pod,5.0,19,10002
2,[Pet Sitting],60kRIrCCxQCns1gIH-0CoQ,False,Paws & Relax,4.5,33,10009
3,"[Pet Groomers, Pet Stores, Dog Walkers]",FUNFrflWo_F0sLeUM3bCgQ,False,Le Pet Spa,5.0,39,10280
4,"[Dog Walkers, Pet Sitting]",VbfjSxyG0VTe4MYUIKIfAQ,False,Frida's Premium Pet Services,5.0,26,07302

In [129]:
#create list of unique pet store and service categoories
pet_categories = []

for row in range(pet_stores.shape[0]):
    pet_categories.extend(pet_stores['categories'][row])
    
for row in range(pet_services.shape[0]):
    pet_categories.extend(pet_services['categories'][row])
    
pet_categories = sorted(list(set(pet_categories)))
pet_categories

['Accessories',
 'Acupuncture',
 'Animal Shelters',
 'Aquarium Services',
 'Aquariums',
 'Art Galleries',
 'Beer, Wine & Spirits',
 'Bird Shops',
 'Cafes',
 'Child Care & Day Care',
 "Children's Clothing",
 'Coffee & Tea',
 'Community Service/Non-Profit',
 'Couriers & Delivery Services',
 'Cremation Services',
 'Doctors',
 'Dog Parks',
 'Dog Walkers',
 'Drugstores',
 'Emergency Pet Hospital',
 'Event Photography',
 'Gift Shops',
 'Grocery',
 'Handyman',
 'Holistic Animal Care',
 'Home & Garden',
 'Home Cleaning',
 'Home Organization',
 'Horse Boarding',
 'Horseback Riding',
 'Hospice',
 'House Sitters',
 'Ice Cream & Frozen Yogurt',
 'Insurance',
 'Landscaping',
 'Lighting Fixtures & Equipment',
 'Livestock Feed & Supply',
 'Local Fish Stores',
 'Office Cleaning',
 'Personal Assistants',
 'Pet Adoption',
 'Pet Boarding',
 'Pet Breeders',
 'Pet Cremation Services',
 'Pet Groomers',
 'Pet Insurance',
 'Pet Photography',
 'Pet Services',
 'Pet Sitting',
 'Pet Stores',
 'Pet Training',
 'Pet Transportation',
 'Pet Waste Removal',
 'Pets',
 'Pharmacy',
 'Propane',
 'Reiki',
 'Reptile Shops',
 'Session Photography',
 'Summer Camps',
 'Utilities',
 'Veterinarians']

In [132]:
#create junction table for businesses and categories
business_ids = []
category_ids = []

for row in range(pet_stores.shape[0]):
    for category in pet_stores['categories'][row]:
        business_ids.append(pet_stores['id'][row])
        category_ids.append(pet_categories.index(category))
        
for row in range(pet_services.shape[0]):
    for category in pet_services['categories'][row]:
        business_ids.append(pet_services['id'][row])
        category_ids.append(pet_categories.index(category))
        
print(len(business_ids))
print(len(category_ids))

3274
3274

[49,
 49,
 49,
 44,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 50,
 44,
 49,
 49,
 49,
 49,
 49,
 44,
 48,
 49,
 47,
 49,
 47,
 49,
 49,
 49,
 44,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 50,
 44,
 49,
 49,
 49,
 49,
 49,
 50,
 47,
 49,
 49,
 49,
 50,
 49,
 49,
 49,
 44,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 44,
 49,
 41,
 44,
 4,
 61,
 49,
 49,
 49,
 49,
 0,
 46,
 49,
 44,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 42,
 49,
 49,
 49,
 49,
 44,
 41,
 44,
 49,
 49,
 44,
 50,
 44,
 49,
 41,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 44,
 49,
 49,
 44,
 17,
 49,
 49,
 48,
 44,
 44,
 49,
 50,
 49,
 49,
 49,
 48,
 44,
 49,
 50,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 42,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 44,
 49,
 49,
 44,
 49,
 50,
 44,
 44,
 17,
 49,
 44,
 49,
 50,
 49,
 49,
 44,
 49,
 49,
 44,
 49,
 49,
 50,
 44,
 49,
 49,
 44,
 17,
 48,
 49,
 49,
 50,
 44,
 49,
 40,
 2,
 12,
 49,
 49,
 49,
 49,
 8,
 49,
 49,
 49,
 49,
 50,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 61,
 49,
 50,
 44,
 48,
 44,
 17,
 49,
 40,
 44,
 49,
 44,
 44,
 49,
 44,
 49,
 44,
 49,
 49,
 44,
 49,
 48,
 49,
 48,
 44,
 49,
 48,
 50,
 44,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 44,
 49,
 49,
 44,
 49,
 17,
 44,
 49,
 49,
 40,
 49,
 44,
 49,
 41,
 49,
 49,
 49,
 47,
 49,
 49,
 49,
 48,
 44,
 49,
 50,
 40,
 44,
 17,
 41,
 49,
 49,
 49,
 44,
 44,
 17,
 48,
 49,
 49,
 44,
 48,
 44,
 49,
 44,
 49,
 50,
 47,
 49,
 61,
 49,
 40,
 49,
 49,
 49,
 40,
 50,
 49,
 44,
 41,
 2,
 50,
 40,
 48,
 44,
 49,
 49,
 2,
 44,
 49,
 41,
 44,
 49,
 49,
 44,
 49,
 49,
 49,
 49,
 48,
 44,
 49,
 48,
 44,
 49,
 49,
 11,
 48,
 44,
 49,
 49,
 44,
 49,
 44,
 49,
 44,
 50,
 49,
 49,
 44,
 49,
 49,
 17,
 48,
 50,
 49,
 49,
 50,
 44,
 49,
 48,
 44,
 44,
 49,
 48,
 48,
 44,
 50,
 49,
 61,
 44,
 44,
 49,
 50,
 49,
 44,
 50,
 50,
 49,
 44,
 49,
 44,
 49,
 49,
 44,
 49,
 44,
 48,
 44,
 41,
 49,
 49,
 44,
 49,
 50,
 44,
 48,
 44,
 49,
 48,
 49,
 3,
 49,
 61,
 49,
 11,
 40,
 44,
 48,
 49,
 49,
 49,
 50,
 44,
 48,
 44,
 17,
 48,
 2,
 40,
 48,
 44,
 50,
 44,
 49,
 49,
 44,
 50,
 49,
 44,
 49,
 48,
 50,
 44,
 44,
 49,
 49,
 10,
 49,
 49,
 40,
 44,
 49,
 3,
 2,
 40,
 44,
 49,
 49,
 49,
 49,
 44,
 49,
 48,
 44,
 49,
 48,
 44,
 49,
 49,
 47,
 49,
 44,
 49,
 42,
 48,
 44,
 49,
 44,
 42,
 49,
 49,
 49,
 44,
 50,
 49,
 49,
 48,
 44,
 44,
 50,
 49,
 49,
 61,
 61,
 44,
 50,
 48,
 50,
 49,
 49,
 47,
 49,
 49,
 44,
 47,
 49,
 49,
 49,
 44,
 44,
 41,
 49,
 44,
 3,
 44,
 3,
 50,
 44,
 49,
 49,
 50,
 44,
 49,
 42,
 44,
 49,
 50,
 49,
 49,
 48,
 61,
 49,
 44,
 49,
 48,
 49,
 49,
 50,
 44,
 50,
 44,
 49,
 48,
 44,
 17,
 44,
 49,
 61,
 49,
 44,
 49,
 42,
 49,
 44,
 48,
 17,
 44,
 49,
 49,
 50,
 44,
 49,
 49,
 44,
 44,
 49,
 44,
 48,
 49,
 50,
 44,
 49,
 48,
 44,
 49,
 44,
 49,
 49,
 50,
 44,
 49,
 2,
 40,
 12,
 48,
 44,
 49,
 44,
 49,
 50,
 44,
 49,
 49,
 44,
 49,
 48,
 44,
 17,
 48,
 50,
 49,
 44,
 17,
 41,
 44,
 49,
 49,
 44,
 61,
 19,
 61,
 44,
 40,
 61,
 49,
 44,
 48,
 17,
 40,
 49,
 61,
 44,
 49,
 48,
 44,
 49,
 50,
 57,
 4,
 44,
 48,
 49,
 44,
 49,
 40,
 41,
 49,
 49,
 17,
 48,
 50,
 48,
 50,
 48,
 49,
 42,
 44,
 49,
 49,
 44,
 49,
 44,
 44,
 49,
 49,
 49,
 2,
 44,
 48,
 50,
 49,
 3,
 49,
 49,
 44,
 50,
 48,
 44,
 49,
 48,
 44,
 44,
 41,
 49,
 49,
 17,
 48,
 44,
 49,
 49,
 61,
 61,
 48,
 49,
 44,
 44,
 49,
 44,
 48,
 3,
 61,
 47,
 49,
 61,
 61,
 49,
 44,
 49,
 17,
 48,
 50,
 49,
 49,
 48,
 2,
 40,
 44,
 49,
 49,
 50,
 44,
 44,
 49,
 61,
 37,
 57,
 61,
 44,
 49,
 2,
 50,
 49,
 44,
 49,
 61,
 49,
 44,
 49,
 44,
 48,
 44,
 49,
 61,
 49,
 48,
 44,
 41,
 49,
 44,
 47,
 44,
 61,
 48,
 49,
 50,
 44,
 49,
 49,
 2,
 49,
 61,
 44,
 50,
 48,
 50,
 44,
 49,
 49,
 44,
 49,
 48,
 44,
 48,
 44,
 44,
 41,
 17,
 61,
 24,
 19,
 49,
 17,
 48,
 44,
 44,
 50,
 17,
 49,
 44,
 49,
 48,
 49,
 44,
 49,
 44,
 49,
 49,
 44,
 49,
 49,
 49,
 49,
 49,
 3,
 49,
 44,
 49,
 61,
 44,
 49,
 50,
 2,
 44,
 44,
 49,
 44,
 44,
 49,
 50,
 44,
 49,
 49,
 47,
 48,
 2,
 40,
 44,
 49,
 50,
 49,
 48,
 49,
 49,
 61,
 12,
 2,
 49,
 48,
 44,
 48,
 44,
 50,
 26,
 27,
 17,
 44,
 41,
 47,
 49,
 44,
 61,
 50,
 44,
 49,
 49,
 44,
 49,
 44,
 44,
 49,
 49,
 44,
 51,
 17,
 49,
 61,
 49,
 3,
 49,
 50,
 44,
 44,
 49,
 44,
 61,
 61,
 47,
 17,
 48,
 50,
 49,
 44,
 17,
 41,
 49,
 50,
 16,
 44,
 61,
 47,
 48,
 44,
 17,
 49,
 49,
 49,
 44,
 48,
 17,
 44,
 48,
 17,
 4,
 37,
 44,
 49,
 49,
 50,
 44,
 44,
 17,
 49,
 44,
 49,
 48,
 44,
 17,
 49,
 44,
 4,
 3,
 37,
 49,
 50,
 49,
 44,
 44,
 61,
 61,
 44,
 17,
 48,
 44,
 50,
 49,
 32,
 44,
 24,
 41,
 3,
 17,
 48,
 49,
 50,
 50,
 44,
 49,
 61,
 44,
 48,
 49,
 61,
 44,
 50,
 41,
 50,
 44,
 49,
 61,
 48,
 44,
 44,
 49,
 44,
 47,
 49,
 17,
 50,
 48,
 49,
 61,
 48,
 50,
 44,
 44,
 41,
 49,
 50,
 44,
 2,
 4,
 3,
 44,
 49,
 49,
 50,
 17,
 48,
 50,
 17,
 48,
 44,
 50,
 44,
 49,
 61,
 44,
 50,
 44,
 49,
 61,
 48,
 17,
 44,
 44,
 41,
 47,
 7,
 44,
 50,
 44,
 49,
 61,
 48,
 49,
 17,
 48,
 44,
 42,
 61,
 44,
 49,
 48,
 44,
 49,
 50,
 44,
 ...]

# Yelp Pet Stores and Pet Services in NYC (ETL): Load

In [39]:
#creating SQL connection
conn = sqlite3.connect('../Data/pet_care_industry.db')
c = conn.cursor()

#function to create table
def create_table(query):
    c.execute(query)

#function to close connection
def close_c_conn():
    c.close()
    conn.close()

In [73]:
#create pet stores and services table
create_query = """CREATE TABLE stores_and_services
                (id TEXT PRIMARY KEY,
                 Name TEXT,
                 Rating REAL,
                 Review_Count INTEGER,
                 ZipCode INTEGER);"""

c.execute('DROP TABLE IF EXISTS stores_and_services')
create_table(create_query)

In [75]:
#function to insert businesses into table
def insert_businesses(businesses):
    for i in range(len(businesses.index)):
        if (not businesses.iloc[i]['is_closed']) & (businesses.iloc[i]['zip_code'].isnumeric()):
            c.execute("""INSERT OR REPLACE INTO stores_and_services
                  (id,
                   Name,
                   Rating,
                   Review_Count,
                   ZipCode)
                   VALUES
                   (?,?,?,?,?)""",
                   (businesses.iloc[i]['id'],
                    businesses.iloc[i]['name'],
                    float(businesses.iloc[i]['rating']),
                    int(businesses.iloc[i]['review_count']),
                    int(businesses.iloc[i]['zip_code'])))
        
    conn.commit()
    
#insert pet store and services into table
insert_businesses(pet_stores)
insert_businesses(pet_services)

In [84]:
#check SQL pet store and services table
stores_and_services = pd.read_sql_query("""SELECT Name, Rating, Review_Count, ZipCode
                                        FROM stores_and_services;""", conn)
stores_and_services = stores_and_services.set_index('Name')
stores_and_services

                                          Rating  Review_Count  ZipCode
Name
NYC Pet                                      2.5            15    11211
NYC Pet                                      5.0             8    11211
Petland Discounts                            3.5             6    11237
Park slope Pet                               5.0            10    11215
Petland Discounts                            3.0            19    11216
Pet Central                                  3.5             6    10128
Petland Discounts                            2.5             9    11206
Pet Valu                                     3.0            14     7002
Slope Pet Food Supplies, Inc                 5.0             8    11215
Dee's Pet Food                               4.5            14    11238
Citipups Village                             3.0            87    10014
Pets Unlimited Ltd                           1.5            35    11104
PetSmart                                     2.0            94     7094
Petland Discounts                            3.5             5     7093
Petland Discounts                            3.5             4     7306
Petland Discounts                            2.5            11    11226
Petland Discounts                            3.0             4     7002
Unleashed                                    3.5            33    10065
ABC Pet Supply                               2.5            21    11215
Petland Discounts                            3.0            18    11385
Tropical Pets                                2.5             5    11368
Citipups Chelsea                             3.0           118    10011
Broadway Pigeon & Pets Supplies              4.0             1    11207
Canine Styles - Westside                     3.0            35    10024
Petco                                        3.0           104    10028
Petco                                        2.5            72    10025
Brooklyn Cat Cafe                            4.0            78    11201
Petland Discounts                            2.5            14    11372
Animal Kingdom Pets                          2.5             3    10312
Cafe Bark                                    4.5            27    10033
...                                          ...           ...      ...
David & Rachel Pet Care                      5.0             4    11218
Caribbean Pets                               2.5            12     7307
Furry Fiends 2                               4.5             9    10040
Fetch! Pet Care                              5.0             3    10603
Petland Discounts                            3.0             3    11413
Pooches Always Walking                       5.0             1    10465
La Bella Pooch Dog Training and Grooming     4.0             1    11214
Boulevard Animal Clinic                      2.0            38    11375
Arcadia Pets                                 3.0            14    10312
Patti's Pampered Pups                        5.0             1    11109
Doggie Academy                               5.0            14    11232
Bark Avenue Grooming                         5.0            34    10024
Sunnyside Pet Healthcare Center              2.0            56    11104
Paw Prints                                   4.5            25    10023
American Kennels                             2.0            96    10065
Westside Animal Hospital                     2.5            24    10036
ABC's of Dog Training LLC                    4.0             8    11370
Liberty Humane Society                       3.5            53     7305
Queens Animal Health                         2.5            93    11365
Brownstone Veterinary Care                   4.5             6    11218
Coco And Toto                                3.0            63    10019
Club Barks                                   3.0            54     7302
PetSmart                                     2.5            19    10010
Bergen Veterinary Hospital                   4.0            29     7666
Mon-Ami Dog Grooming                         5.0             6    11354
WufSter                                      5.0             8     7030
Canine Retreat by AKC - W42                  3.5             4    10036
PetSmart                                     3.0           105    11201
Marine Park Veterinary Group                 4.0            20    11234
American Academy of Pet Grooming             3.5            32    10010

[1502 rows x 3 columns]

In [113]:
#create unique categories table
create_query = """CREATE TABLE categories
                (id TEXT PRIMARY KEY,
                 Name TEXT);"""

c.execute('DROP TABLE IF EXISTS categories')
create_table(create_query)

In [115]:
#function to insert categories into table
def insert_categories(categories):
    for i in range(len(categories)):
        c.execute("""INSERT INTO categories
                  (id,
                   Name)
                   VALUES
                   (?,?)""",
                   (i,
                    categories[i]))
        
    conn.commit()
    
#insert categories into table
insert_categories(pet_categories)

In [117]:
#check SQL categories table
categories = pd.read_sql_query("""SELECT * FROM categories;""", conn)
categories = categories.set_index('id')
categories

                             Name
id
0                     Accessories
1                 Animal Shelters
2               Aquarium Services
3                       Aquariums
4                   Art Galleries
5            Beer, Wine & Spirits
6                      Bird Shops
7                           Cafes
8             Children's Clothing
9                    Coffee & Tea
10   Community Service/Non-Profit
11             Cremation Services
12                        Doctors
13                      Dog Parks
14                    Dog Walkers
15                     Drugstores
16         Emergency Pet Hospital
17                     Gift Shops
18                        Grocery
19           Holistic Animal Care
20                  Home & Garden
21                  Home Cleaning
22              Home Organization
23                 Horse Boarding
24               Horseback Riding
25                        Hospice
26      Ice Cream & Frozen Yogurt
27                    Landscaping
28  Lighting Fixtures & Equipment
29        Livestock Feed & Supply
30              Local Fish Stores
31                   Pet Adoption
32                   Pet Boarding
33                   Pet Breeders
34         Pet Cremation Services
35                   Pet Groomers
36                Pet Photography
37                   Pet Services
38                    Pet Sitting
39                     Pet Stores
40                   Pet Training
41             Pet Transportation
42                        Propane
43                  Reptile Shops
44                   Summer Camps
45                      Utilities
46                  Veterinarians

In [119]:
#defining SQL query to create junction table for businesses and categories
create_query = """CREATE TABLE IF NOT EXISTS businesses_categories
(   business_id TEXT    NOT NULL,
    category_id INTEGER NOT NULL,
    PRIMARY KEY(business_id, category_id),
    FOREIGN KEY(business_id) REFERENCES stores_and_services(id),
    FOREIGN KEY(category_id) REFERENCES categories(id));"""

c.execute('DROP TABLE IF EXISTS businesses_categories')
create_table(create_query)

In [134]:
#function to insert businesses and categories into table
def insert_businesses_categories(business_ids, category_ids):
    for i in range(len(business_ids)):
        c.execute("""INSERT OR REPLACE INTO businesses_categories
                  (business_id,
                   category_id)
                   VALUES
                   (?,?)""",
                   (business_ids[i],
                    category_ids[i]))
        
    conn.commit()
    
#insert categories into table
insert_businesses_categories(business_ids, category_ids)

In [136]:
#querying SQL businesses and categories table
businesses_categories = pd.read_sql_query("SELECT * FROM businesses_categories;", conn)
businesses_categories

                 business_id  category_id
0     YtJXZdh3lnuH2JuDtXBqqQ           49
1     yc0AK8DAKTQF3JuDI1Ta4w           49
2     8AKa6ep2-fW4zFkvg_yhKw           49
3     o7ja0NftF0t8bIQJJgGP4Q           49
4     JwbfRncSOiv2akciJcwVHA           47
5     JwbfRncSOiv2akciJcwVHA           49
6     uBoaVbgLCPTwa2ab5890JA           47
7     uBoaVbgLCPTwa2ab5890JA           49
8     jYfy42Dx_in0SLYQIunehg           49
9     bUp8mGkEoz68vW4K_7ItVQ           49
10    UR41hufVO6BWxzxJMBvWJg           49
11    jXUi-DoJq-tNcuHNxO-aIg           49
12    Twj04F1i8WB8V61lYOK0fQ           49
13    Twj04F1i8WB8V61lYOK0fQ           42
14    1Ry-X7zFcxW5NPwfCIZCkw           49
15    YqmKFtAH_Fys-ePkKyLW_Q           49
16    YqmKFtAH_Fys-ePkKyLW_Q           44
17    YqmKFtAH_Fys-ePkKyLW_Q           50
18    OT3naODWAE0-m6OoQ_0tRA           49
19    AKBKcoKyxNUeexb1gX7cHQ           49
20    n9jsV_3mbk2oeMuytkIKcQ           49
21    5vv_idKSCU2sReHeEJm3qQ           49
22    EZVb4-cEtC8rs3mk43vT7Q           49
23    EZVb4-cEtC8rs3mk43vT7Q           50
24    GbU7vGGNe0IXQi0uCnyDEw           49
25    z181nI-l_DnCcNh_yeOcEg           49
26    SO2lJjaNpazzZA6fczHxzQ           49
27    fVTneUCf9qIA17tgi34pOQ           49
28    fVTneUCf9qIA17tgi34pOQ           42
29    Vkc-yW0PDF6M2_2H_P6BIQ           49
...                      ...          ...
2566  FfClvEPhq5pTb_L3SFLx0Q           48
2567  CFo1R6v0duXgdMiLBiQbnw           49
2568  q0dBXcYz4TTMOfYhBHBtnA           61
2569  lYdp7J-MMKvXWhweHBO61A           50
2570  cTHFkp-YOoEAjJXauSOqcA            2
2571  cTHFkp-YOoEAjJXauSOqcA           49
2572  W6aKUbDEGMnL3Dgu1H26-w           61
2573  zWOLQh61LeOcn7OTeWDimg           61
2574  sPpOHO1BK47ZpQFR3zMDsw           44
2575  sPpOHO1BK47ZpQFR3zMDsw           17
2576  sPpOHO1BK47ZpQFR3zMDsw           48
2577  Yxp53oAMiZxT5pVdGSIV1A           48
2578  Yxp53oAMiZxT5pVdGSIV1A           44
2579  W6TsDZ5GetZjnVVa1Xl1Sg           49
2580  W6TsDZ5GetZjnVVa1Xl1Sg           50
2581  W6TsDZ5GetZjnVVa1Xl1Sg           40
2582  gHbOl7wAaPSH59mqLU6Zpw           61
2583  gHbOl7wAaPSH59mqLU6Zpw           44
2584  gHbOl7wAaPSH59mqLU6Zpw           48
2585  C5Q6YCvKo9fr_m6z4Hp2VA           44
2586  KvcTyTsxFf4iJ6OcRV2VNA           17
2587  dY__bGphANw66fd2y9qZZw           44
2588  dY__bGphANw66fd2y9qZZw           50
2589  dY__bGphANw66fd2y9qZZw           17
2590  5FVL8RyBu7iYurjQ9vYITw           49
2591  5FVL8RyBu7iYurjQ9vYITw           50
2592  5FVL8RyBu7iYurjQ9vYITw           44
2593  gzO6izOVtDH7S8pd1pXRoA           61
2594  qFvfRZZqkjueb2pLXCq60Q           44
2595  qFvfRZZqkjueb2pLXCq60Q           48

[2596 rows x 2 columns]

In [137]:
#close connection
close_c_conn()